*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    background-color: #FFFBF7;
}
body {
	font-family: 'Zen Maru Gothic', sans-serif;
}

.header__rogo{
    width: 48px;
    height: auto;
}

li{
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
}



/* パソコンのマウスでホバーしたときのみ変化するように指定するには...
https://zenn.dev/kagan/articles/css-hover-style
@media (hover: hover) {
    a:hover {
      background-color: red;
    }
  } */